@import "tailwindcss";
@import "prismjs";
@import "prismjs/plugins/line-numbers/prism-line-numbers.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "@tailwindcss/typography";

/* https://codepen.io/MPDoctor/pen/mpJdYe MIT license */

.tabs {
	margin: 16px 12px 8px 12px;
    display: inline-flex;
	align-items: stretch;
	list-style: none;
	padding: 0;
}

.tab > label {
	display: flex;
    padding: 12px 15px;
	margin: 4px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 2px solid #D9D9D9;
	cursor: pointer;	
	transition: all 0.3s;
}

.tab:hover label {
	border-color: #333;
}

/* As we cannot replace the numbers with variables or calls to element
	properties, the number of this selector parts is our tab count limit */
.tab-active > label {
	background: #D9D9D9;
}

/* collapsible */
.collapsible-header-build {
	background-color: #B0DC9C;
	color: #000;
	cursor: pointer;
	padding: 10px;
	font-weight: bold;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	margin: 12px
}

h2, h3, h4 {
/* 	background-color: #B0DC9C; */
	color: #000;
	padding: 10px;
	font-weight: bold;
	width: fit-content;
	border: none;
	text-align: left;
	outline: none;
}

.filter-option {
	padding: 4px;
}

/* https://stackoverflow.com/a/75446062 */

.grid-item {
	background-color: #fff;
	border-radius: 0.4rem;
	overflow: hidden;
	cursor: pointer;
	transition: 0.2s;
	height: 100%;
}
  
.grid-item:hover {
	transform: translateY(-0.5%);
	box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
}
  
.card {
	height: 100%;
}
  
.card-img {
	display: block;
	object-fit: cover;
	width: 100%;
	height: 25dvh;
	margin: 8px;
}
  
.card-content {
	padding: 4px;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.card-name {
	color: #000;
	font-weight: bold;
	text-align: left;
}

/* https://github.com/11ty/eleventy-plugin-syntaxhighlight/issues/10 */

pre {
	counter-reset: lineNumber;
}

code .highlight-line:before {
	-webkit-user-select: none;
	border-right: 1px solid #404040;
	color: #858585;
	content: counter(lineNumber);
	counter-increment: lineNumber;
	display: inline-block;
	font-variant-numeric: tabular-nums;
	margin-right: 1.2em;
	padding-right: 1.2em;
	text-align: right;
	width: 2.4em;
}

.prose-lg ul {
	list-style: unset;
}

.prose-lg ul li p {
	margin-top: 0px;
	margin-bottom: 0px;
}

.prose-lg a {
	color: #91BD7D;
	text-decoration: underline;
}
